.customButton {
    width: auto;
    /* min-width: 70px; */
    padding: 10px;
    height: auto;
    margin: 0.50rem;
    padding: 0.25rem;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    color: black;
    background-color: var(--buttonColor);
    border: 1px solid transparent;
}

.customButton:hover {
    color: white;
    background-color: var(--baseColor);
    border: solid 1px var(--buttonColor);
}

.customButton:active {
    background-color: var(--buttonColor);
}